{% extends 'base.html' %}
{% block content %}
<h1>Expense Categories</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for cats in exp_cat %}
      <tr>
        <td>{{ cats.name }}</td>
        <td>{{ cats.receipts.all|length }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
