{% extends 'base.html' %}
{% block content %}
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
        <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {%for receipts in receipt_list%}
                <tr>
                    <td>{{receipts.vendor}}</td>
                    <td>{{receipts.total}}</td>
                    <td>{{receipts.tax}}</td>
                    <td>{{receipts.date|date:"m-d-Y"}}</td>
                    <td>{{receipts.category}}</td>
                    <td>{{receipts.account}}</td> 
                </tr>
                {%endfor%}
            </tbody>
        </table>
{% endblock content %}